# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller
build/
dist/
*.spec

# Binaries / exe
bin/
*.exe
*.dll

# Logs / caches
*.log
*.tmp
.cache/
pip-wheel-metadata/

# Excel temp
~$*.xls*
